<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
    <appSettings>
        <add key="CarPrice" value="20" />
        <add key="MCPrice" value="10" />
        <add key="NrOfPSpots" value="100" />
        <add key="NrOfMCPerPSpot" value="2" />
        <add key="NrOfCarPerPSpot" value="1" />
    </appSettings>
</configuration>